html {
  background-color: #9b59b6;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}

footer {
  position: fixed;
  background-color: #2ecc71;
  height: 10em;
  width: 110%;
  margin: -1em;
  text-align: center;
}

p {
  font-size:8em;
  font-family: Helvetica;
  margin-top: 0em;
  color: #26A65B;
}

h1 {
  display: block;
  padding: 1em;
  color: #fff;
  font-family: Helvetica;
}

input {
  width: 2.5em;
  height: 2.5em;
  display: block;
  background: #e74c3c;
  border: 0;
  border-radius: 100%;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
}

input[type="text"]
{
  font-size:10em;
  color: #fff;
}

#user_guess {
  display: none;
}

#play_again {
  display: none;
}

#goodbye {
  display: none;
  font-family: Helvetica;
  font-size: 9em;
  color: #f1c40f;
}